#contato {
    background-image: url(../img/back.svg);
    padding: 20px;
    padding-bottom: 100px;
}
#campos {
    display: grid;
    box-shadow: 1px 1px 10px #969292;
    background-color: #fff;
    gap: 10px;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 80px;
}
.campos__unicos {
    display: grid;
    gap: 2px;
}
.formulario {
    border: solid 1px #264653;
    border-radius: 2px;
    resize: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.btn_enviar {
    border: none;
    padding: 10px;
    background-color: #33abdb;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    transition: 500ms;
    font-weight: bold;
}
.btn_enviar:hover {
    background-color: #65df84;
    color: #000;
}
.midias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}
.logo__redes {
    width: 40px;
}
.logo_linkedin {
    filter: invert(26%) sepia(100%) saturate(1353%) hue-rotate(191deg) brightness(96%) contrast(95%);
}
.logo_telegram {
    filter: invert(56%) sepia(67%) saturate(2034%) hue-rotate(169deg) brightness(95%) contrast(88%);
}
.logo_gmail {
    filter: invert(40%) sepia(31%) saturate(7485%) hue-rotate(342deg) brightness(95%) contrast(93%);
}
.logo_discord {
    filter: invert(39%) sepia(16%) saturate(4947%) hue-rotate(213deg) brightness(97%) contrast(96%);
}
.links_sociais {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    gap: 10px;
}
#mostra_curriculum{
    display: flex;
    justify-content: center;
}
#bt_cv{
    background-color: #33abdb;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
    transition: 500ms;
    font-weight: bold;
}
#bt_cv:hover{
    background-color: #65df84;
}
#curriculum{
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#curriculum__corpo{
    display: grid;
    width: 100%;
    height: 100%;
}
#curriculum__fecha{
    background-color: #33abdb;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border: none;
    color: #fff;
}
#curriculum__pdf{
    width: 100%;
    height: 100vh;
}