#contato {
    background-image: url(../img/back.svg);
    padding: 20px;
    padding-bottom: 100px;
}
#campos {
    display: grid;
    box-shadow: 1px 1px 10px #969292;
    background-color: #fff;
    gap: 5px;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 80px;
}
.formulario {
    border: solid 1px #264653;
    border-radius: 2px;
    resize: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.btn_enviar {
    border: none;
    padding: 10px;
    background-color: #33abdb;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    transition: 500ms;
    font-weight: bold;
    letter-spacing: .1in;
}
.btn_enviar:hover {
    background-color: #65df84;
    color: #000;
}
.midias {
    display: flex;
    justify-content: center;
    gap:10px;
}
.links_sociais {
    display: grid;
    width: 100px;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    gap: 10px;
    margin-bottom: 50px;
}
#mailto {
    display: flex;
    justify-content: center;
}
#mailto__titulo {
    display: grid;
    color: #000;
    padding: 10px;
    width: 100px;
    border: solid 1px #000;
    border-radius: 5px;
    text-decoration: none;
    gap: 10px;
    text-align: center;
}
#mailto--link {
    text-decoration: none;
    color: #000;
}
#mostra_curriculum{
    display: flex;
    justify-content: center;
}
#bt_cv{
    background-color: #33abdb;
    border:none;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
    transition: 500ms;
    font-weight: bold;
}
#bt_cv:hover{
    background-color: #65df84;
}