#cursos {
    display: none;
}
.carrossel {
    display: flex;
    background-color: rgba(255, 255, 255, 0.726);
    overflow: hidden;
    width: 330px;
    box-shadow: 1px 1px 5px #d1d1d1;
}
.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.cards_cursos {
    display: grid;
    justify-content: center;
    width: 330px;
    gap: 5px;
    padding: 20px 0;
}
.img_card {
    width: 50px;
}
.corpo_card {
    display: flex;
    align-items: center;
    gap: 10px;
}
.curso__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 400px) {
    #cursos {
        display: grid;
        justify-content: center;
        gap: 20px;
    }
} 