#navbar {
    font-weight: bold;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #33abdb;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1;
}
#logos_p_g {
    display: flex;
    justify-content: center;
}
.logo {
    margin-left: 20px;
}
.links {
    display: flex;
    margin-right: 20px;
}
#links_lista {
    display: flex;
    justify-content: end;
    gap: 20px;
    text-transform: uppercase;
}
.links_nav {
    color: #fff;
    text-decoration: none;
}
.links_nav:hover {
    border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .links {
        margin: 0;
    }
    #navbar {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 600px) {
    #logo_e9 {
        display: none;
    }
}