.nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    font-weight: bold;
    width: 100%;
    background-color: #33abdb;
    align-items: center;
    height: 50px;
    z-index: 1;
}
.logo {
    display: none;
}
.logo__grande {
    display: none;
}
.logo__pequeno {
    display: none;
}
.botao_topo {
    display: none;
}
.botao_rodape {
    display: none;
}
.links {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}
.links__a {
    color: #fff;
    text-decoration: none;
}
.links_nav:hover {
    border-bottom: 2px solid #fff;
}
@media screen and (min-width: 400px) {
    .logo__pequeno {
        display: flex;
    }
    .nav {
        justify-content: space-between;
    }
    .links {
        margin-right: 20px;
    }
    .logo {
        display: flex;
        margin-left: 20px;
    }
    .botao_topo {
        display: flex;
    }
    .botao_rodape {
        display: flex;
    }
    
}
@media screen and (min-width: 768px) {
    .logo__pequeno {
        display: none;
    }
    .logo__grande {
        display: flex;
    }
    
}
