#projetos {
    background-color: #f5f5f5;
    background-image: url(../img/back-rotate.svg);
    padding: 50px 0;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.titulo h3 {
    text-align: center;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
    width: 96%;
    margin: 2%;
}
.card_image {
    display: grid;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    background-color: #ece4e4;
    margin: auto;
}
.card_image:hover {
    background-color: #ccc;
}
.img_projetos {
    background-color: #fff;
    width: 100%;    
}
.btn_projetos {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    letter-spacing: .2em;
    background-color: #f8f9fa;
    box-shadow: 1px 1px 10px #fff;
    border: none;
    padding: 5px;
    color: #000;
    text-transform: uppercase; 
    cursor: pointer;
}
.btn_projetos:hover {
    background-color: #fff;
    box-shadow: 0.2px 0.2px 1px #000;
}
@media screen and (min-width: 450px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
}