#sobre {
    display: grid;
    background-image: url(../img/back.svg);
    justify-content: center;
    padding-bottom: 20px;
    font-style: italic;
    gap: 50px;
}
#sobreMim {
    display: flex;
    margin-top: 70px;
    align-items: center;
    gap: 20px;
}
#foto {
    display:flex;
    justify-content: center;
    border: solid 1px #ccc;
    border-radius: 50%;
}
#texto {
    flex-wrap: wrap;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
}
#link_contato {
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
#link_contato:hover {
    border-bottom: 2px solid rgb(20, 20, 20);
}
.icons {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.desc {
    display: flex;
    justify-content: center;
    letter-spacing: .1em;
    text-align: center;
    padding-top: 15px;
}
.desliza {
    animation: desliza 1s ease-in-out;
}
@keyframes desliza {
	0%{
        opacity: 0;
        transform: translateX(-1000px);
	}
	100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.aumenta {
    animation: aumenta 1s ease-in-out;
}
@keyframes aumenta {
	0%{
        opacity: 0;
        transform:scale(0);
	}
	100% {
        transform:scale(1);
        opacity: 1;
    }
}
.giraEsquerda {
    animation: giraEsquerda 1s ease-in-out;
}
@keyframes giraEsquerda {
	0%{
        opacity: 0;
        transform: rotate(-360deg);
	}
	100% {
        opacity: 1;
    }
}
.giraDireita {
    animation: giraDireita 1s ease-in-out;
}
@keyframes giraDireita {
	0%{
        opacity: 0;
        transform: rotate(360deg);
	}
	100% {
        opacity: 1;
    }
}
.imgs_hard {
    width: 50px;
}
.imgs_hobbies {
    width: 70px;
}
.circ {
    background-color: #33abdb;
    font-weight: 500;
    cursor:none;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    animation: circulos 2s ease-in-out infinite;
    cursor: pointer;
}
@keyframes circulos{
	0%,100%{
        transform:scale(1)
	}
	50%{
        transform:scale(1.1)
	}
}
.circ_par {
    background-color: #33abdb;
    font-weight: 500;
    cursor:none;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    animation: circulos_par 2s ease-in-out infinite;
    cursor: pointer;
}
.circ_par:hover, .circ:hover{
    background-color: #65df84;
}
@keyframes circulos_par{
	0%,100%{
        transform: scale(1.1);
	}
	50%{
        transform: scale(1);
	}
}
.descHobbies {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}
.alternaTexto {
    display: none;
}
#bt_mais_sobre {
    cursor: pointer;
    background-color: #f8f9fa;
    box-shadow: 0.2px 0.2px 1px #000;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 5px;
}
#bt_mais_sobre:hover {
    background-color: #e8ecf0;
}
#meuNome {
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
#apresenta {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 780px;
    margin-bottom: 20px;
}
#mais {
    margin-bottom: 20px;
    text-align: justify;
}
@media only screen and (max-width: 800px) {
    #sobre {
        margin: 0;
        padding: 10px;
      }
    #apresenta {
        display: grid;
        justify-content: center;
        width: auto;
    }
    #sobreMim {
        display: grid;
    }
    #foto {
        margin: auto;
    }
}