body {
    display: flex;
    height: 95vh;
    background: #cccccc;
    align-items: center;
    justify-content: center;
}

.links {
    color: white;
}
#meusLinks {
    display: flex;
    grid-gap: 20px;
}