body {
    display: flex;
    height: 95vh;
    background: #cccccc;
    align-items: center;
    justify-content: center;
}
#meusLinks {
    padding: 5px;
    display: flex;
    grid-gap: 90px;
    align-items: center;
}